# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true:suggestion

[*.{c,h,cpp,hpp}]
charset = utf-8
indent_size = 2
end_of_line = lf
insert_final_newline = true

[*.ino]
charset = utf-8
indent_size = 2
end_of_line = lf
insert_final_newline = true

[platformio.ini]
charset = utf-8
indent_size = 2
end_of_line = lf
insert_final_newline = true

# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties#ideas-for-domain-specific-properties
indent_brace_style = K&R
